<% @reviews.each do |review| %>
  <tr>
    <td><%= review.review_date %></td>
    <td class="review_name" data-id="<%= review.id %>"><a><%= review.name %></a></td>
    <td><%= review.address %></td>
    <td><%= review.score %></td>
    <td><%= link_to "Video", review.url, target: "_blank" %></td>
    <td>
      <%= link_to edit_review_path(review), remote: true do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    </td>
    <td>
      <%= link_to review, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_review", remote: true do %>
        <i class="glyphicon glyphicon-remove-circle" ></i>
      <% end %>
    </td>
  </tr>
<% end %>
