<% @reviews.each do |review| %>
  <tr>
    <td width="15%"><%= review.review_date %></td>
    <td width="25%" data-toggle="tooltip" data-placement="top" title="Click to see on map" class="review_name" data-id="<%= review.id %>"><a><%= review.name.titleize %></a></td>
    <td width="30%"><%= review.address %></td>
    <td width="15%"><%= review.score %></td>
    <td width="15%"><%= link_to "Video", review.url, target: "_blank" %></td>
    <td width="3%">
      <%= link_to edit_review_path(review), remote: true do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    </td>
    <td>
      <%= link_to review, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_review", remote: true do %>
        <i class="glyphicon glyphicon-remove-circle" ></i>
      <% end %>
    </td>
  </tr>
<% end %>
