<script src="//maps.google.com/maps/api/js?v=3&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>

<div class="container">
  <div class="row">
    <% if @reviews.any? %>
      <div class="col-md-12 text-center">
        <h3>Pizza Reviews</h3>
        <br/>
        <div class="text-center" id="map" style="width: 800px; height: 400px; margin-left: 15%"></div>
        <script>

        function buildMap() {
          function bindReviewToMarker($li, marker){
            $li.on('click', function(){
              handler.getMap().setZoom(18);
              marker.setMap(handler.getMap()); //because clusterer removes map property from marker
              marker.panTo();
              google.maps.event.trigger(marker.getServiceObject(), 'click');
            })
          };

          function bindClick(review_array) {
            _.each(review_array, function(json){
              var id = json.data.id;
              var review = $(".review_name[data-id='" + id + "']");
              bindReviewToMarker(review, json.marker);
            });
          };

          var review_array = <%=raw @hash.to_json %>
          var handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(review_array);

            _.each(review_array, function(json, index){
              json.marker = markers[index];
            });

            bindClick(review_array);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        }

        buildMap();
        </script>
      </div>
    <% end %>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-condensed table-hover" id="reviews">
        <thead>
          <tr>
            <th><%=sort_link "review_date", "Review Date" %></th>
            <th><%=sort_link "name" %></th>
            <th><%=sort_link "address" %></th>
            <th><%=sort_link "score" %></th>
            <th>Video Link</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody class="review-index">
          <%= render "index" %>
        </tbody>
      </table>
      <hr />

      <%= link_to 'New Review', new_review_path, remote: true %>

      <div id="review-modal" class="modal fade">
      </div>
      <br>
    </div>
  </div>
</div>
